html[data-theme='light'] {
  color-scheme: light;
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;

  --toggle-bg-color: #ffffff;
  --toggle-ball-color: black;
  --toggle-border: black solid 1.75px;

  --popup-bg-color: white;
  --popup-shadow: 0.25em 0.25em 1em 0 rgba(0, 0, 0, 0.24);

  --fk-background-primary: #ffffff;
  --fk-background-secondary: #EEEEF3;
  --fk-color-help: #121416d8;
  --fk-color-input: black;

  --icon-filter: invert(1);
}

html[data-theme='dark'] {
  color-scheme: dark;
  --background-color: #1A1A1A;
  --text-color: #F7F8F8;
  --link-color: #828fff;
  --webkit-link: red;

  --toggle-bg-color: rgba(255, 255, 255, 0);
  --toggle-ball-color: #dadada;
  --toggle-border: #F7F8F8 solid 1.75px;

  --popup-bg-color: #242424;
  --popup-shadow: 0px 0px 6px 6px rgba(136, 108, 250, 0.16);

  --fk-background-primary: #242424;
  --fk-background-secondary: #3f3f3f;
  --fk-color-help: #ffffff;
  --fk-color-input: white;

  --icon-filter: invert(0);
}



